[mysqld]
# Performance
max_connections = 1000
max_allowed_packet = 256M
innodb_buffer_pool_size = 2G
innodb_log_file_size = 512M

# InnoDB
innodb_file_per_table = 1
innodb_flush_method = O_DIRECT

# Query Cache
query_cache_size = 0
query_cache_type = 0

# Charset
character_set_server = utf8mb4
collation_server = utf8mb4_unicode_ci
